/*
*contains: 
*root colours,
*font faces
*header styling
*button styling
*/

:root {
    --background-blue: rgb(103, 120, 196); 
    --main-yellow: rgba(255,188,100,1);
    --bright-red: rgb(255, 83, 71);
    --main-blue: rgba(97,120,225,1);
    --darker-blue: rgba(68,74,129,1);
    --form-text: rgba(68, 74, 129, 0.664);
    --accent-red:  rgba(191,16,16,1);
    --accent-red-hover:  rgb(255, 0, 0);
    --form-bg: #ffffff;
    --form-outline: rgb(171,179,229);
}
body{
    background: var(--background-blue);
}

/*******************************************************************************
* fontfaces
*******************************************************************************/
/*open sans**/
@font-face{
    font-family: 'Open Sans';
    src: url('font-face/OpenSans-Regular.woff'); 
    font-weight: normal;
}
@font-face{
    font-family: 'Open Sans';
    src: url('font-face/OpenSans-Bold.woff');
    font-weight: bold; 
}
@font-face{
    font-family: 'Open Sans';
    src: url('font-face/OpenSans-BoldItalic.woff');
    font-weight: bold;
    font-style: italic; 
}
@font-face{
    font-family: 'Open Sans ExtraBold';
    src: url('font-face/OpenSans-ExtraBold.woff');
}
@font-face{
    font-family: 'Open Sans ExtraBold';
    src: url('font-face/OpenSans-ExtraBoldItalic.woff');
    font-style: italic;
}
@font-face{
    font-family: 'Open Sans';
    src: url('font-face/OpenSans-Italic.woff');
    font-weight: normal; 
    font-style: italic; 
}
@font-face{
    font-family: 'Open Sans Light';
    src: url('font-face/OpenSans-Light.woff');
    font-style: normal; 
}
@font-face{
    font-family: 'Open Sans Light';
    src: url('font-face/OpenSans-LightItalic.woff');
    font-style: italic; 
}
@font-face{
    font-family: 'Open Sans SemiBold';
    src: url('font-face/OpenSans-SemiBold.woff');
}
@font-face{
    font-family: 'Open Sans SemiBold';
    src: url('font-face/OpenSans-SemiBoldItalic.woff');
    font-style: italic; 
}

/*trebuchet MS**/
@font-face{
    font-family: 'Trebuchet';
    src: url('font-face/trebuc.woff');
}
@font-face{
    font-family: 'Trebuchet';
    src: url('font-face/Trebuchet-MS-Italic.woff');
    font-style: italic; 
}

/*******************************************************************************
* styling
*******************************************************************************/
.Header{
	position: fixed;
	width: 100vw;
	height: 84.33px;
	left: 0px;
	top: 0px;
    overflow: hidden;
    background: white;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.161));
}
#headerbtns {
	position: absolute; 
	overflow: hidden;
	width: 315px; 
	height: 100%; 
	right: 45px;
}
#headerLogo{
    position: absolute;
    height: 95%;
    top: 5%;
    width: auto;
    left: 40px;
    cursor: pointer;
}
#headerLogo:hover{
    top: 6%;
    transition: 0.3s;
}
.headerbtn {
	height: 70%;
	width: 150px; 
	position: absolute;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	cursor: pointer;
	background: white;
	border-style:solid;
	border-width: 0.05%; 
	border-radius: 40px; 
	filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.161));
	outline: none;
}
.headerbtn:hover{
    transition: 0.6s;
    color: #fff;
}

#registerbtn{
    border-color: var(--main-yellow);
	color: var(--main-yellow);
	top:0;
	bottom: 0;
	left: 0;
	right: 1;
	margin: auto;
}

#loginbtn{
	border-color: var(--main-blue);
	color: var(--main-blue);
	top:0;
	bottom: 0;
	left: 1;
	right: 0;
	margin: auto;
	
}
#registerbtn:hover{
	color: #fff;
	border-color: var(--main-yellow);
	background: var(--main-yellow);
}

#loginbtn:hover{
	color: #fff;
	border-color: var(--main-blue);
	background: var(--main-blue);
}

.dashedAccentsvg{
    transform: matrix(1,0,0,1,0,0);
    width: 1500px;
    height: 4vh;
}
.dashedAccentpath{
    fill: transparent;
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-dasharray: 3 20;
	stroke-dashoffset: 0;
	stroke-miterlimit: 5;
    shape-rendering: auto;
}

.longInput{
    position: absolute;
    background: var(--form-bg);
    outline-color: var(--form-hover);
    border: var(--form-outline);
    border-style: solid;
    border-width: 1px;
    padding-left: 20px;
    font-family: Open Sans Light;
    font-size: 20px;
    color: var(--darker-blue);
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.161));
    height: 55.27px;
    left:0;
    right:0;
    margin:auto;
}
.longInput::placeholder{
    color: var(--form-text);
}

.longInput:hover{
    background-color: var(--form-outline);
    transition-duration: 0.2s;
}
.longInput:hover::placeholder{
    color:white;
    transition-duration: 0.2s;
}

.longInput:focus{
    background-color:white;
    outline:none;
    color: var(--darker-blue);
}
.formBtn{
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    background: var(--main-yellow);
    outline:none;
    color: white;
    font-family: Open Sans;
    font-size: 27px;
    filter: drop-shadow(0px 3px 4px rgba(48, 46, 71, 0.161));
    border-radius: 20px; 
    padding-bottom:5.5px;
    border-width:1px;
    border-style: solid;
    border-color: var(--form-outline);
    cursor: pointer;
}
.formBtn:hover{
    background: var(--bright-red);
    transform: translateY(3px);
    filter: drop-shadow( rgba(48, 46, 71, 0.261));
    transition-duration: 0.2s;
}

.topline{
    position: absolute;
    top:2%;
}
.bottomline{
    position:absolute;
    bottom:2%;
}
.redaccent{
    color: var(--accent-red);
}
.yellowaccent{
    stroke: var(--main-yellow);
}
.whiteaccent{
    stroke: white;
}
